.contact{
  h1, p {
  text-align: center;
  color: $contact-text;
  }

  input,
  textarea,
  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  textarea{
    margin-top: 2em;
    margin-bottom: 2em;
  }

  button{
    margin-bottom: 20px;
  }
}
